@font-face{
    font-family:montserrat;
    font-style:normal;
    font-weight:400;
    src:local('Montserrat'),url(../fonts/Montserrat-Regular.woff) format('woff')
}

@font-face{
    font-family:montserrat;
    font-style:normal;
    font-weight:600;
    src:local('Montserrat'),url(../fonts/Montserrat-SemiBold.woff) format('woff')
}

@font-face{
    font-family:montserrat;
    font-style:normal;
    font-weight:800;
    src:local('Montserrat'),url(../fonts/Montserrat-ExtraBold.woff) format('woff')
}

:root {
    --max-width: 960px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #222222;
}

h2 {
    font-size: 2rem;
    line-height: 2.6rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

a {
    color: inherit;
}

header, nav {
    z-index: 10;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
}

.fullflex {
    flex: 1 0 100%;
}

.fullflex .content {
    max-width: var(--max-width);
    margin: 0 auto;
}

.halflex {
    flex: 1 0 50%;
}

.halflex-left {
    padding: 0 0 0 calc( (100% - var(--max-width)) / 2 );
}

.halflex-right {
    padding: 0 calc( (100% - var(--max-width)) / 2 ) 0 0;
}

.linear ul {
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
}

.linear ul li a {
    display: block;
    padding: .7rem;
    text-decoration: none;
    color: inherit;
    font-size: .9rem;
    font-weight: 600;
}

.linear ul li a:hover {
    color: #00ab08;
}

.linear ul li a.buy {
    background-color: #22b23b;
    color: #FFFFFF;
    padding: .7rem 1.2rem;
    position: relative;
    border-radius: 6px;
    margin-left: .5rem;
}

.linear ul li a.buy:hover {
    background-color: #00ab08;
}

.vertical-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sticky {
    position: sticky;
    top: 0;
    background: #FFFFFF;
}

.logo {
    position: relative;
    width: 204px;
    padding-left: 36px;
}

.logo img {
    position: absolute;
    left: 0;
    top: -5px;
}

.logo .bold {
    font-weight: 800;
}

.logo .by {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: .7rem;
    color: lightgray;
}

.hero {
    justify-content: center;
    padding: 3rem 0;
}

.hero h1 {
    font-size: 2.3rem;
    line-height: 2.9rem;
    text-align: center;
    background-image: linear-gradient(135deg, #8244CB, #26044D);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #26044D;
    margin: 0;
    padding: 0 1rem;
}

.hero .subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: gray;
    text-align: center;
    padding: 0 5%;
}

.video {
    width: 640px;
    height: 360px;
    margin: 0 auto;
    background-color: #ededed;
}

.sections {
    padding: 5rem 0;
}

.texts {
    line-height: 1.5rem;
    text-indent: 3rem;
}

a.external {
    display: block;
    text-align: end;
}

footer {
    font-size: 80%;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #111111;
}

footer p {
    padding: .6em 0;
}

.is-style-checkmark-list {
    padding: .6em 0 1rem;
    margin: 0;
    list-style-type: none;
}

.is-style-checkmark-list li {
    margin-bottom: .1rem;
}

.img-center {
    text-align: center;
}

aside {
    background-color: #f9f7e8;
    background-image: url(../img/bg-carl.jpeg);
}

.checks {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.checks li {
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    padding: 0 0 0 85px;
    margin-bottom: 1.5rem;
    display: flex;
    font-size: 1rem;
    line-height: 1.4rem;
    min-height: 80px;
}

.checks li .filho {
    padding: 0;
}

.checks li .filho li {
    padding: 0;
    background: none;
    list-style-type: none;
    margin-bottom: .5rem;
    min-height: inherit;
    display: inline-block;
}

.checks li .filho li::before,
.list-template li::before {
    content: '';
    width: .8rem;
    height: .8rem;
    background-color: lightgray;
    display: inline-block;
    margin-right: .8rem;
}

.funcionamento {
    padding: 0;
    margin: 1.6rem 0;
    list-style-type: none;
}

.funcionamento li {
    background-repeat: no-repeat;
    padding: 0 0 0 85px;
    margin-bottom: 2rem;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 1.4rem;
}

.funcionamento li:nth-child(1) {
    background-image: url(../img/number-1.png);
}

.funcionamento li:nth-child(2) {
    background-image: url(../img/number-2.png);
}

.funcionamento li:nth-child(3) {
    background-image: url(../img/number-3.png);
}

.funcionamento li:nth-child(4) {
    background-image: url(../img/number-4.png);
}

.menor {
    font-size: .8rem;
    line-height: 1.1rem;
    color: gray;
}

.button {
    display: inline-block;
    padding: .7rem 2.8rem .7rem 1.2rem;
    text-decoration: none;
    background-color: #22b23b;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: .9rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 1rem;
}

.button::after {
    content: '🔒';
    position: absolute;
    top: .6rem;
    right: .8rem;
}

.button:hover {
    background-color: #00ab08;
}

.price {
    line-height: 1.5rem;
}

.list-template {
    margin: 0;
    padding: 0 0 0 3rem;
    list-style-type: none;
    line-height: 1.5rem;
}

.gray {
    color: lightgray;
}

p.assinatura {
    line-height: 1.5rem;
    color: #333333;
    margin-bottom: 2rem;
}

.fullflex.black {
    background-color: #111111;
    color: #FFFFFF;
}

.pagtos {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    opacity: .4;
}

.pagtos div {
    background-image: url(../img/pagtos.png);
    background-repeat: no-repeat;
}

.pagtos .credito {
    background-position: 0px -58px;
    width: 100px;
    height: 22px;
}

.pagtos .boleto {
    background-position: 0 -1px;
    width: 150px;
    height: 22px;
}

.pagtos .pix {
    background-position: 0 -26px;
    width: 64px;
    height: 32px;
}

p.saiba-mais {
    font-size: 90%;
    color: #333333;
    padding-top: 1rem;
}

p.saiba-mais a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: #00af6b;
    margin-top: 3px;
}

.inclusos dt {
    font-weight: 600;
    font-size: 1.1rem;
    padding: .5rem 0;
}

.magic > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.magic > ul > li {
    background-repeat: no-repeat;
    padding: 0 0 0 100px;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.4rem;
    gap: 3rem;
    background-image: url(../img/zip.png);
}

.magic > ul > li:nth-child(4) {
    background-image: url(../img/relatorio-seo.png);
    background-size: 80px;
    padding: 0 0 0 116px;
}

.magic > ul > li .custo {
    flex: 1 0 21%;
    border: 1px solid #FFFFFF;
    padding: .75rem 1rem;
    border-radius: 6px;
}

.cc-price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.3rem;
}

dl.inclusos {
    flex: 1 0 74%;
}

dl.inclusos .plugin {
    margin-left: -40px;
    color: gray;
    margin-bottom: .5rem;
}

dl.inclusos ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

dl.inclusos dd ul li {
    margin: 3px 0;
    position: relative;
}

dl.inclusos dd ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: -24px;
    top: 4px;
    background-color: gray;
}

.digicert {
    display: flex;
    width: 100%;
    max-width: 184px;
    margin: .8rem 0 1.2rem;
    gap: .5rem;
    padding: .5rem;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.digicert img {
    flex: 1;
    max-width: 80px;
}

.rodape-menus {
    display: flex;
    gap: 4rem;
}

.redes li a {
    text-decoration: none;
}

.redes li a:hover {
    text-decoration: underline;
}

#metodo .listing {
    display: flex;
    gap: 3rem;
}

#metodo h2,
#uso h2 {
    margin-top: 0;
}

dl.definition {
    margin-bottom: 2rem;
}

dl.definition dt {
    font-weight: bold;
    margin-inline-start: 3rem;
    font-size: 1.2rem;
}

dl.definition dd {
    line-height: 1.5rem;
    margin: 1em 0 1em 3rem;
}

.custo a {
    text-decoration: none;
    font-size: 90%;
}

.centralized div {
    text-align: center;
}

.reviews {
    display: flex;
    margin: -24px auto 48px;
    max-width: 640px;
}

.reviews .confiam {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    color: #773cbc;
}

.reviews .faces {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reviews .faces img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    margin-left: -6px;
}

.reviews .stars {
    display: flex;
    gap: 5px;
    max-width: fit-content;
    flex: 1;
    align-items: center;
}

.reviews .stars .estrela {
    width: 24px;
    height: 24px;
    background-image: url(../img/estrela-review.png);
}

.sliders {
    width: 100%;
    padding: 0 calc((100% - 434px) / 2);
    overflow: hidden;
}

.influencers {
    width: 434px;
    height: 640px;
}

.assinar {
    width: 360px;
    margin: 0 auto 3rem;
    line-height: 1.6rem;
    border: 1px solid;
    border-radius: 12px;
    padding: 20px;
}

.assinar h3 {
    margin: 0;
}

.assinar .button {
    margin: 0;
    width: 100%;
}

.valor {
    display: flex;
    height: 58px;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.valor .currency {
    align-self: flex-start;
    line-height: 1rem;
}

.valor .number {
    font-size: 5rem;
    font-weight: bold;
}

.valor-inerente {
    text-align: center;
}

.valor-inerente .valor {
    gap: 12px;
    margin: 1rem 0 1.2rem;
}

.como-usar {
    width: 960px;
}

.como-usar .funcionamento .swiper-slide {
    max-width: 800px;
    margin: 0 80px;
}

.como-usar .funcionamento .swiper-slide dl {
    margin: 1.3rem 0 0;
}

.como-usar .funcionamento .swiper-slide dl dt {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.como-usar .funcionamento .swiper-slide dl dd {
    margin: 0;
}

.como-usar .funcionamento .swiper-slide dl dd .video {
    margin: 0;
}

.como-usar .funcionamento .swiper-slide img {
    max-width: 715px;
}